## Ejemplo 6: Automatizando peticiones

### 1. Objetivos:
    - Usar todo lo que aprendimos para automatizar peticiones al API
    - Guardar nuestros resultados en un archivo tipo .csv
 
---
    
### 2. Desarrollo:

Veamos cómo usar todo lo que aprendimos para automatizar el proceso de realizar múltiples peticiones a la API, reunirlas en un `DataFrame` y guardarlo en un .csv:

In [1]:
import pandas as pd
import requests

In [13]:
url = 'https://api.nasa.gov/neo/rest/v1/neo/browse/'
parametros = {
    'api_key': 'ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih'
}

Obtener 10 páginas de datos del API.

In [14]:
diccionarios = []
for i in range(10):
    resultados = requests.get(url, params=parametros)
    if resultados.status_code == 200:
        datos = resultados.json()
        objetos = datos["near_earth_objects"]
        diccionarios.append(objetos)
        url = datos["links"]["next"]
        parametros = {}
        print(datos["links"]["self"])
    else:
        print("Error al obtener la pagina")

http://www.neowsapp.com/rest/v1/neo/browse?page=0&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih
http://www.neowsapp.com/rest/v1/neo/browse?page=1&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih
http://www.neowsapp.com/rest/v1/neo/browse?page=2&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih
http://www.neowsapp.com/rest/v1/neo/browse?page=3&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih
http://www.neowsapp.com/rest/v1/neo/browse?page=4&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih
http://www.neowsapp.com/rest/v1/neo/browse?page=5&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih
http://www.neowsapp.com/rest/v1/neo/browse?page=6&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih
http://www.neowsapp.com/rest/v1/neo/browse?page=7&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih
http://www.neowsapp.com/rest/v1/neo/browse?page=8&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih
http://www.neowsapp.com/rest/v1/neo/browse?page=9&size=20&api_key=ZfveyasLXxy7dXlzcZWnwlAHaQWVbc6xwK4Z4Qih

Valiando la cantidad de diccionarios obtenidos:

In [15]:
len(diccionarios)

10

Validando el tipo de dato del elemento 0 de la lista:

In [16]:
type(diccionarios[0])

list

Normalizar y crea los dataframes usando `map` o listas de compresión:

In [19]:
dfs = [pd.json_normalize(d) for d in diccionarios]

Valida el tipo de dato del elemento 0:

In [20]:
type(dfs[0])

pandas.core.frame.DataFrame

Explora el inicio del dataframe del elemento 0:

In [21]:
dfs[0].head()

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,2000433,2000433,433 Eros (A898 PA),Eros,433,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000433,10.42,False,"[{'close_approach_date': '1900-12-27', 'close_...",False,...,1.133004746239758,178.8689344298016,1.783329728038786,2459159.335547045187,23.04174776493414,.5597486693246532,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
1,2000719,2000719,719 Albert (A911 TB),Albert,719,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000719,15.51,False,"[{'close_approach_date': '1909-08-21', 'close_...",False,...,1.195376966739327,156.2074111005377,4.080683758289534,2459956.001930185700,231.2977977256108,.2300299522321089,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
2,2000887,2000887,887 Alinda (A918 AA),Alinda,887,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000887,13.84,False,"[{'close_approach_date': '1910-01-04', 'close_...",False,...,1.062542630695554,350.5075827027987,3.88479471264434,2459258.738807182354,34.8994574215934,.2533330084314079,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
3,2001036,2001036,1036 Ganymed (A924 UB),Ganymed,1036,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001036,9.25,False,"[{'close_approach_date': '1910-02-25', 'close_...",False,...,1.244392487592923,132.3785381720509,4.085994582878027,2458979.250423075115,50.11796125710877,.226522291946004,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
4,2001221,2001221,1221 Amor (1932 EA1),Amor,1221,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001221,17.39,False,"[{'close_approach_date': '1900-03-08', 'close_...",False,...,1.083392203652344,26.67758290479227,2.7549388383389,2458896.584345836670,112.6648636168215,.3707109590224443,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU

Concatena los dataframes en un sólo dataframe y reinicia índices (por alguna buena razón hemos creado una lista de dataframes ¿cierto?):

In [22]:
df = pd.concat(dfs)

df

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,2000433,2000433,433 Eros (A898 PA),Eros,433,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000433,10.42,False,"[{'close_approach_date': '1900-12-27', 'close_...",False,...,1.133004746239758,178.8689344298016,1.783329728038786,2459159.335547045187,23.04174776493414,.5597486693246532,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
1,2000719,2000719,719 Albert (A911 TB),Albert,719,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000719,15.51,False,"[{'close_approach_date': '1909-08-21', 'close_...",False,...,1.195376966739327,156.2074111005377,4.080683758289534,2459956.001930185700,231.2977977256108,.2300299522321089,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
2,2000887,2000887,887 Alinda (A918 AA),Alinda,887,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000887,13.84,False,"[{'close_approach_date': '1910-01-04', 'close_...",False,...,1.062542630695554,350.5075827027987,3.88479471264434,2459258.738807182354,34.8994574215934,.2533330084314079,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
3,2001036,2001036,1036 Ganymed (A924 UB),Ganymed,1036,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001036,9.25,False,"[{'close_approach_date': '1910-02-25', 'close_...",False,...,1.244392487592923,132.3785381720509,4.085994582878027,2458979.250423075115,50.11796125710877,.226522291946004,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
4,2001221,2001221,1221 Amor (1932 EA1),Amor,1221,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001221,17.39,False,"[{'close_approach_date': '1900-03-08', 'close_...",False,...,1.083392203652344,26.67758290479227,2.7549388383389,2458896.584345836670,112.6648636168215,.3707109590224443,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,2017511,2017511,17511 (1992 QN),NaN,17511,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2017511,17.30,False,"[{'close_approach_date': '1900-12-11', 'close_...",False,...,.7628812639160113,202.3575672368542,1.617050971155794,2459164.094158202908,176.4611969338573,.7592803845607337,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
16,2018106,2018106,18106 Blume (2000 NX3),Blume,18106,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018106,17.70,False,"[{'close_approach_date': '1904-08-28', 'close_...",False,...,1.193699063724138,234.9170096326625,3.696433765221722,2458767.595284876645,111.5990248305691,.2577911973048602,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
17,2018109,2018109,18109 (2000 NG11),NaN,18109,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018109,17.08,False,"[{'close_approach_date': '1902-10-30', 'close_...",False,...,1.189336449752271,319.2321665645002,2.572445554033802,2459350.582381827407,17.54437829266421,.3820838055388477,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
18,2018172,2018172,18172 (2000 QL7),NaN,18172,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018172,15.61,False,"[{'close_approach_date': '1913-11-01', 'close_...",False,...,1.185283315346584,100.7630208867756,3.663375081197811,2458829.950952856585,96.75254254087584,.2611059002492302,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
19,2018736,2018736,18736 (1998 NU),NaN,18736,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018736,15.94,False,"[{'close_approach_date': '1918-04-01', 'close_...",False,...,1.198402888557957,222.8832249073757,3.503564851581627,2459871.090996946585,230.2375325755811,.2734195723460461,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU

Comprobemos la cantidad de objetos en el dataframe final, 10 páginas con 20 objetos cada una:

In [23]:
df_1 = df.reset_index(drop=True)
df_1

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,2000433,2000433,433 Eros (A898 PA),Eros,433,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000433,10.42,False,"[{'close_approach_date': '1900-12-27', 'close_...",False,...,1.133004746239758,178.8689344298016,1.783329728038786,2459159.335547045187,23.04174776493414,.5597486693246532,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
1,2000719,2000719,719 Albert (A911 TB),Albert,719,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000719,15.51,False,"[{'close_approach_date': '1909-08-21', 'close_...",False,...,1.195376966739327,156.2074111005377,4.080683758289534,2459956.001930185700,231.2977977256108,.2300299522321089,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
2,2000887,2000887,887 Alinda (A918 AA),Alinda,887,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000887,13.84,False,"[{'close_approach_date': '1910-01-04', 'close_...",False,...,1.062542630695554,350.5075827027987,3.88479471264434,2459258.738807182354,34.8994574215934,.2533330084314079,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
3,2001036,2001036,1036 Ganymed (A924 UB),Ganymed,1036,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001036,9.25,False,"[{'close_approach_date': '1910-02-25', 'close_...",False,...,1.244392487592923,132.3785381720509,4.085994582878027,2458979.250423075115,50.11796125710877,.226522291946004,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
4,2001221,2001221,1221 Amor (1932 EA1),Amor,1221,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001221,17.39,False,"[{'close_approach_date': '1900-03-08', 'close_...",False,...,1.083392203652344,26.67758290479227,2.7549388383389,2458896.584345836670,112.6648636168215,.3707109590224443,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2017511,2017511,17511 (1992 QN),NaN,17511,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2017511,17.30,False,"[{'close_approach_date': '1900-12-11', 'close_...",False,...,.7628812639160113,202.3575672368542,1.617050971155794,2459164.094158202908,176.4611969338573,.7592803845607337,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
196,2018106,2018106,18106 Blume (2000 NX3),Blume,18106,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018106,17.70,False,"[{'close_approach_date': '1904-08-28', 'close_...",False,...,1.193699063724138,234.9170096326625,3.696433765221722,2458767.595284876645,111.5990248305691,.2577911973048602,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
197,2018109,2018109,18109 (2000 NG11),NaN,18109,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018109,17.08,False,"[{'close_approach_date': '1902-10-30', 'close_...",False,...,1.189336449752271,319.2321665645002,2.572445554033802,2459350.582381827407,17.54437829266421,.3820838055388477,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
198,2018172,2018172,18172 (2000 QL7),NaN,18172,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018172,15.61,False,"[{'close_approach_date': '1913-11-01', 'close_...",False,...,1.185283315346584,100.7630208867756,3.663375081197811,2458829.950952856585,96.75254254087584,.2611059002492302,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
199,2018736,2018736,18736 (1998 NU),NaN,18736,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018736,15.94,False,"[{'close_approach_date': '1918-04-01', 'close_...",False,...,1.198402888557957,222.8832249073757,3.503564851581627,2459871.090996946585,230.2375325755811,.2734195723460461,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU

Guarda tu dataframe en el archivo `objetos_tierra_nasa.csv`:

In [24]:
df_1.to_csv("objetos_tierra_nasa.csv")

---
---

## Reto 6: Automatizando peticiones

### 1. Objetivos:
    - Automatizar la petición de datos a la API de la NASA por fechas.
 
---
    
### 2. Desarrollo:

### a) Automatizando peticiones

En el primer Reto realizaste una petición a la API de la NASA para pedir 5 datos de la hoja #100. Ahora, vamos a automatizar el proceso de realizar peticiones a la API para obtener una cantidad bastante mayor de datos.

Vamos a obtener ahora los datos por fechas, así que tendrás que ir a la página de la [api de la NASA](https://api.nasa.gov/), para revisar cómo es posible realizar peticiones por fecha. Queremos obtener los **dos primeros meses (Enero y Febrero) del año 1995**. Observa que la API sólo permite peticiones por fecha en rangos de 7 días.

Tu reto tiene los siguientes pasos:

1. Revisa la documentación de la API de la NASA para entender cómo realizar peticiones por fecha.
2. Realiza una primera petición de prueba para entender el formato de los datos que obtienes de regreso (cómo extraemos los datos que necesitamos y qué estructura tienen).
2. Escribe el código necesario para automatizar las peticiones a la API y obtener los meses de Enero y Febrero del año 1995.
3. Almacena los datos de cada petición y luego usa esos datos para crear `DataFrames`.
4. Concatena verticalmente tus `DataFrames` para obtener un `DataFrame` final que contenga todos los datos de tus peticiones. Cada fila tiene que corresponder a un objeto espacial.
5. Guarda tu `DataFrame` con el nombre de `near_earth_objects-january_february_1995-raw.csv`.

> **Nota**: En este momento no te preocupes por explorar o limpiar tu dataset. Eso lo haremos en la siguiente sesión. Lo que sí tienes que asegurarte es de normalizar tus datos antes de convertirlos en `DataFrame`.

¡Mucha suerte!